streamlit
requests
python-dotenv
langchain
langchain-community
langchain-google-genai==2.0.0
lancedb
lark
langchain-huggingface
llama-index
llama-index-vector-stores-lancedb
ragas
datasets
llama-index-embeddings-huggingface
llama-index-llms-gemini
streamlit-option-menu
streamlit-agraph
folium
streamlit-folium
rank_bm25
llama-index-retrievers-bm25