streamlit
requests
python-dotenv
langchain
langchain-community
langchain-google-genai==2.0.0
langchain-chroma
chromadb
lark
langchain-huggingface
llama-index
llama-index-vector-stores-chroma
llama-index-embeddings-huggingface
llama-index-llms-gemini